body {
  font-family: sans-serif;
  margin-left: 10% !important;
  max-width: 1500px;
  background-color: #f1f1f1 !important;
}

.navbar {
  border-radius: 2px;
}

.navbar a {
  color: #aaaaaa;
  display: inline-block;
  padding: 10px;
  text-decoration: none !important;
}

.navbar a:hover {
  color: #ffffff;
}

.footer p {
  color: #dddddd;
  font-weight: bold;
}
